{% extends 'base2.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/challenges.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="button">
        <button class="btn btn-primary">ADD CHALLENGE</button>
    </div>
    <div class="row">
      <div class="col-sm">
        <div class="hot-challenges-title">
            <h2>TODAY'S HOT CHALLENGES</h2>
        </div>
        <div class="hot-challenges-contents" id="todays-hot-challenges">
            <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac ddddfacilisis in</li>
                <li class="list-group-item">Crasdfdsfsdfddd justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Portdsfa ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
              </ul>
        </div>
      </div>
      <div class="col-sm">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="hot-challenges-title">
                    <h2>CHALLENGES FROM HIGH HAT</h2>
                </div>
                <div class="hot-challenges-contents" id="challenges-from-high-hat">
                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                      </ul>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm">
                <div class="container">
                    <div class="hot-challenges-title">
                        <h2>HOT PICK FILTER</h2>
                    </div>
                    <div class="row">
                      <div class="col-sm pick-filter">
                        <div class="hot-challenges-title">
                            <h4>TODAY'S HOT CHALLENGES</h4>
                        </div>
                        <div class="hot-challenges-contents">
                            <ul class="list-group">
                                <li class="list-group-item">Crasdddddd justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                              </ul>
                        </div>
                      </div>
                      <div class="col-sm pick-filter">
                        <div class="hot-challenges-title">
                            <h4>TODAY'S HOT CHALLENGES</h4>
                        </div>
                        <div class="hot-challenges-contents">
                            <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                              </ul>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
{% endblock %}